# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Editor configs
.vscode/
.idea/
.pytest_cache/
*.swp
.DS_Store

# Jupyter
.ipynb_checkpoints/

# MNE / EEG / data files
*.fif
*.fif.gz
*.edf
*.edf.gz


# Project output folders (exclude stage outputs)


# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Secrets / env
.env
*.pem
*.key
